@import 'mixin.styl'
.news-item
  padding 10px 12px
  box-sizing border-box
.news-image
  width 115px
  height 74px
  border-radius 2px
.news-title
  line-height 25px
  height 50px
  no-wrap-more(2)
  margin-bottom 6px
.news-source
  font-size 12px
  color #8E8E8E
  display flex
  align-items flex-end
  height 18px
  .source-title
    margin-right 5px