@import 'reset.styl'
@import 'border.styl'
body
  font-family PingFangSC-Regular
  letter-spacing 0
  font-size 18px
  color #323232
image
  max-width 100%
button::after
  border none
.margin-bottom
  height 48px
  